body {
  background-color: transparent !important;
}


#initial {
  position: relative;
  width: 100%;
  height: 96vh;
  display: flex;
  align-items: center;
}

#initial img {
  position: absolute;
  right: 0;
  top: 50%;
  object-fit: contain;
  width: 50%;
  transform: translate(0%, -50%);
}

#second-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  width: 35%;
}

.left-flex {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 5.875rem;
  width: 50%;
  grid-row-gap: 6.875rem;
  justify-content: space-between;
  align-items: center;
}

.left-flex img {
  width: 5rem;
}

#second-section .grid {
  display: flex;
  gap: 8.125rem;
}

.right {
  width: 50%;
  position: relative;
  left: 6.25rem;
}

@media (max-width: 767px) {

  #initial {
    height: initial;
    flex-direction: column;
  }

  #second-section {
    padding: 4.375rem 0;
    height: initial;
  }


  #second-section .grid {
    flex-direction: column;
    gap: initial;
  }

  .left {
    width: 84%;
  }

  .left-flex {
    width: 100%;
    gap: 3.0625rem;
    margin-top: 5rem;
    justify-content: center;
    order: 2;
  }

  .right {
    width: 100%;
    left: inherit;
    order: 1;
  }

  #initial img {
    position: relative;
    width: 100%;
    top: initial;
    right: initial;
    transform: initial;
  }
}